{
  "db_name": "git-seed",
  "username": "username",
  "password": "password",
  "host": "127.0.0.1",
  "dialect": "mariadb",
  "pool": {
    "max": 5,
    "min": 0,
    "idle": 10000
  },
  "manager": {
    "git": {
      "update_hook_path": ""
    }
  }
}
